* {
    background-color: #b9f8c9;
    color: rgb(0, 0, 0);
    font-family: helvetica, roboto, sans-serif;
    margin: 10px;
}

h1 {
    text-align: center;
}

h1, h2, p, li {
    margin: 32px 0;
}

a {
    text-decoration: none;
    transition: color 1s;
    transition: font-size 1s;
    color: rgb(58, 32, 8);
}

a:hover {
    color: rgb(138, 50, 0);
    font-size: 1.25rem;
}

img {
    border-radius: 10px;
    margin: 32px auto;
    display: block;
    
}

footer {
    margin-top: 32px;
    font-size: 0.75rem;
}