* {
    background-color: #0c130e;
    color: rgb(221, 221, 221);
    font-family: helvetica, roboto, sans-serif;
    margin: 10px;
}

h1, h2, p, li {
    margin: 25px;
}

a {
    text-decoration: none;
    transition: color 1s;
    transition: font-size 1s;
    color: rgb(183, 192, 133);
}

a:hover {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
}

img {
    border-radius: 10px;
}